* {
  box-sizing: border-box;
}

body {
  background-color: rgba(190, 187, 187, 0.842);
}

.save-div {
  width: 100%;
}

.selectDrop {
  font-size: 2rem !important;
}
@media (min-width: 768px) {
  .save-div {
    max-width: 60%;
  }
}

@media (max-width: 765px) {
  .workout-select button {
    margin: 6px 0;
  }

  .selectDrop {
    font-size: 1rem !important;
  }
}
